@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*Colors*/
:root {
	--operation: #6D676E;
	--input: #1B1B1E;
	--input-color: #fff;
	--output-color: #fff;
	--key: #84948c;
	--key-color: #000000;
	--key-hover: linear-gradient(283deg, rgba(133,133,133,1) 0%, rgba(181,181,181,1) 50%, rgba(200,200,200,1) 100%);
	--key-hover-color: #000000;
	--operator: #dbfbf3;
	--operator-color: #000000;
	--operator-hover: #525252;
	--operator-hover-color: #fff;
	--action: #9ed2c4;
	--action-color: #000000;
	--return: linear-gradient(120deg, rgba(250,169,22,1) 0%, rgba(223,148,13,1) 50%, rgba(203,132,4,1) 100%);
	--return-color: #000000;
	--return-hover: linear-gradient(315deg, rgba(250,102,22,1) 0%, rgba(223,69,13,1) 50%, rgba(203,34,4,1) 100%);
	--content-border: linear-gradient(180deg, #84948c 45%, rgba(0,0,0,1) 45%);
	--key-active: #ccbdbd;
	--calculator: #244444;

/*Transitions*/
	--tran-02: all 0.2s ease-out;
	--tran-03: all 0.3s ease-out;
	--tran-04: all 0.4s ease-out;
	--tran-05: all 0.5s ease-out;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
}

.container {
	width: 100%;
	min-width: 375px;
	min-width: 640px;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	background: #EAEBEC;
}

.calculator {
	user-select: none;
	display: block;
	padding: 10px;
	border-radius: 10px;
	background: var(--calculator);
}

.content-border {
	position: relative;
	display: block;
	background: var(--content-border);
}

.display {
	background: var(--content-border);
	border-radius: 10px;
	margin-bottom: 5px;
}

.input {
	user-select: none;
	height: 110px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.input .in {
	font-weight: 600;
	font-size: 45px;
	color: var(--input-color);
	margin-right: 10px;
}

.output {
	user-select: none;
	height: 150px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.output .out {
	font-weight: 600;
	font-size: 50px;
	color: var(--output-color);
	margin-right: 10px;
}

.keyboard {
	position: relative;
	align-items: center;
	justify-content: center;
}

.key {
	font-weight: 600;
	border-radius: 10px;
	user-select: none;
	cursor: pointer;
	width: 80px;
	height: 100%;
	color: var(--key-color);
	padding: 20px;
	display: inline-block;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	margin: 2px;
	background: var(--key);
}

.key:hover {
	background: var(--key-hover);
	color: var(--key-hover-color);
}

.key:active {
	background: var(--key-active);
	box-shadow: 0 0 15px grey inset;
}

.action,
.clear {
	background: var(--action);
	color: var(--action-color);
}

.operator {
	background: var(--operator);
	color: var(--operator-color);
}

.operator:active {
	background: var(--key-active);
	color: #000000;
}

.return {
	background: var(--return);
	color: var(--return-color);
}

.return:hover {
	background: var(--return-hover);
}

.return:active {
	background: var(--key-active);;
}